/GrafikObjekt.class
/HGBildObjekt.class
/KontrollPanel.class
/MinutenZeiger.class
/SchirmSchonerApplikation$1.class
/SchirmSchonerApplikation.class
/SekundenZeiger.class
/SimpleTimer.class
/SimpleTimerListener.class
/StundenZeiger.class
/TopView.class
/Uhr.class
/Utility.class
/Zeiger.class
/audio/
/bilder/
